@charset "utf-8";

@font-face {
    font-family: 'Horison';
    src: url(/fontes/Horison.ttf) format('truetype');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor1: #023535;
    --cor2: #015958;
    --cor3: #23606E;
    --cor4: #23606E;
    --cor5: #FACFCE;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-bebas: 'Bebas Neue', sans-serif;
    
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor2);
}

h1 {
    color: white;
}

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor1));
    color: (white);
    font-size: 3em.;
    font-family: var(--font-bebas);
    font-weight: bold;
    padding: 30px;
    text-align: center;
}

main {
    min-width: 300px;
    max-width: 900px;
    background-color: white;
    margin: auto;
    padding-bottom: 80%;
}

main p {
    padding-top: 30px;
    padding-left: 30px;
    text-decoration: none;
}

main a {
    color: black;
    text-decoration: none;
}

main a:hover {
    background-color: var(--cor3);
    border-radius: 15px;
    color: white;
    text-decoration: underline;
}

main a::after {
    content: '\00A0\1F517';
}

main a::before {
    content: '\1F5F8\00A0\00A0';
}

footer {
    background-color: var(--cor1);
    text-align: center;
}

footer p {
    color: white;
    font-size: .7em;
    padding: 3px;
}